<div class="t-flex t-justify-start t-p-4">
  <div
    class="t-flex t-flex-col t-gap-6 t-text-xl t-w-full t-text-violet-600 t-font-normal"
  >
    <span class="t-text-2xl t-font-semibold"
      >Migrate to Standalone Components</span
    >

    <div
      class="t-flex t-flex-col t-gap-4"
      *ngFor="let obj of migrateComponentObjects"
    >
      <span>{{ obj.stepTitle }}</span>
      <img [src]="obj.imgUrl" />
    </div>
    <app-card [title]="title" [paragraphs]="paragraphs"></app-card>
  </div>
</div>
